update-ws-transport/src/main/wsdl/svn.dbc.dk/repos/WSContracts/holdingsItemsUpdate/trunk/holdingsItemsUpdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oss.dbc.dk/ns/holdingsItemsUpdate" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="HoldingsItemsUpdateServices" targetNamespace="http://oss.dbc.dk/ns/holdingsItemsUpdate">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified">
      <xs:import namespace="http://oss.dbc.dk/ns/holdingsItemsUpdate" schemaLocation="holdingsItemsUpdate.xsd"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="HoldingsItemsUpdateInputMessage">
    <wsdl:part name="parameters" element="tns:holdingsItemsUpdate"/>
  </wsdl:message>
  <wsdl:message name="CompleteHoldingsItemsUpdateInputMessage">
    <wsdl:part name="parameters" element="tns:completeHoldingsItemsUpdate"/>
  </wsdl:message>
  <wsdl:message name="OnlineHoldingsItemsUpdateInputMessage">
    <wsdl:part name="parameters" element="tns:onlineHoldingsItemsUpdate"/>
  </wsdl:message>
  <wsdl:message name="HoldingsItemsUpdateOutputMessage">
    <wsdl:part name="parameters" element="tns:holdingsItemsUpdateResponse"/>
  </wsdl:message>
  <wsdl:portType name="HoldingsItemsUpdatePortType">
    <wsdl:operation name="holdingsItemsUpdate">
      <wsdl:input wsaw:Action="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdate" message="tns:HoldingsItemsUpdateInputMessage"/>
      <wsdl:output wsaw:Action="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdateResponse" message="tns:HoldingsItemsUpdateOutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="completeHoldingsItemsUpdate">
      <wsdl:input wsaw:Action="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdate" message="tns:CompleteHoldingsItemsUpdateInputMessage"/>
      <wsdl:output wsaw:Action="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdateResponse" message="tns:HoldingsItemsUpdateOutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="onlineHoldingsItemsUpdate">
      <wsdl:input wsaw:Action="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdate" message="tns:OnlineHoldingsItemsUpdateInputMessage"/>
      <wsdl:output wsaw:Action="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdateResponse" message="tns:HoldingsItemsUpdateOutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HoldingsItemsUpdateBinding" type="tns:HoldingsItemsUpdatePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="holdingsItemsUpdate">
      <soap:operation soapAction="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="completeHoldingsItemsUpdate">
      <soap:operation soapAction="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onlineHoldingsItemsUpdate">
      <soap:operation soapAction="http://oss.dbc.dk/ns/holdingsItemsUpdate/HoldingsItemsUpdate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HoldingsItemsUpdateServices">
    <wsdl:port name="HoldingsItemsUpdatePort" binding="tns:HoldingsItemsUpdateBinding">
      <soap:address location="http://holdingsitemsupdate.addi.dk/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
